body{
    margin: 0;
    overflow: hidden;
    color: black;
    background-color: yellow;
}

#visualization {
    flex-direction: column;
    height: 70vh;
    width: 100vw;

    display: flex;   
    align-items: center;
    justify-content: center;
}

#transcript {
    /* display: none; */
    font-size: 4vh;
}

#keyword {
    /* text-transform: capitalize; */
    font-size: 26vh;
    font-family: 'Caveat Brush', cursive;
}