body{
    margin: 0;
    overflow: hidden;
}

#visualization {
    color: black;
    background-color: rgb(201, 64, 64);
    height: 100vh;
    width: 100vw;
    display: flex;   
    align-items: center;
    justify-content: center;
}

#keyword {
    font-size: 42vh;
    font-family: DejaVu Sans Mono
}